
body {
	text-align: center;
	
	/*
	background: #D38312; 
	background: -webkit-linear-gradient(to left, #D38312 , #A83279); 
	background: linear-gradient(to left, #D38312 , #A83279); 
*/ 

} 

#leftQuote {
	margin-right:1000px
}	


.container {
	margin:20px; 
}